.Box{
    background-color: blue;
    border: 0.2rem solid yellowgreen;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

.Wall{
    background-color: black;
    border: 0.2rem solid yellowgreen;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.Start{
    background-color: green;
    border: 0.2rem solid yellowgreen;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.End{
    background-color: red;
    border: 0.2rem solid yellowgreen;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

.Visit{
    background-color: pink;
    border: 0.2rem solid yellowgreen;
    display: inline-block;
    height: 2rem;
    width: 2rem;

    animation-name: visited_square_animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes visited_square_animation{
    0% {
        transform: scale(.3);
        background-color: #43dde6;
      }
    
      25% {
        transform: scale(1.2);
        background-color: yellow;
      }
    
      50% {
        transform: scale(1.5);
        background-color: yellow;
      }

      
      75% {
        transform: scale(1.2);
        background-color: yellow;
      }

      100% {
        transform: scale(1.0);
        background-color:#43dde6;
      }

}




.Min{
    background-color: rebeccapurple;
    border: 0.2rem solid yellowgreen;
    display: inline-block;
    height: 2rem;
    width: 2rem;

    animation-name: min_node_square_animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}


@keyframes min_node_square_animation{
    0% {
        transform: scale(.3);
        background-color: orange;
      }
    
      25% {
        transform: scale(1.2);
        background-color:orangered;
      }
    
      50% {
        transform: scale(1.5);
        background-color: orangered;
      }

      
      75% {
        transform: scale(1.2);
        background-color: orangered;
      }

      100% {
        transform: scale(1.0);
        background-color:orange;
      }

}